@import "./variable.less";

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.form {
  .form-group {
    margin-bottom: 1rem;
  }

  .form-label {
    font-size: 14px;
    color: @c-dark-light;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-12 {
  flex: 0 0 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.button {
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  font-weight: 600;
  min-width: 64px;
  height: 48px;
  white-space: nowrap;
  font-family: inherit;
  border-radius: @borderRadius;
  background-color: #fff;
  transition: background-color .1s linear;
  border: none;
  font-size: 1rem;

  &.black {
    color: #fff;
    background-color: @c-black;
    &:hover {
      background-color: fade(@c-black, 80%);
    }
  }
  &.border {
    color: @c-dark-light;
    border: 1px solid @c-dark;

    &:hover {
      background-color: #F1F0EB;
    }
  }
}

.border-input-wrap {
  position: relative;
  margin-bottom: 0.8rem;
  .input {
    font-size: 1rem;
    width: 100%;
    height: 2.8125rem;
    border: 1px solid #ccc;
    font-weight: 400;
    outline: none;
    background: none;
    display: block;
    padding: .627rem;
    border-radius: @borderRadius;

    &:focus {
      border-color: @c-grey;
    }
  }
  .label {
    font-size: calc(1rem - 2px);
    display: block;
    margin-bottom: .5em;
  }
}

.password-reveal {
  position: relative;

  .reveal-icon {
    right: .627rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
  }
}

.select {
  width: 100%;
  outline: none;
  font-weight: 400;
  cursor: pointer;
  border-color: rgba(94, 95, 96, 0.3);
  border-radius: 3px;
  padding: .5rem .2rem;
}
