
.form {
  .label {
    font-weight: bolder;
  }

  .submit-button {

    margin-top: 2rem;
    height: 36px;
    font-size: 14px;
    max-width: 100%;
    width: 150px;
    float: right;

    &.black {
      background-color: #312d2a;
    }

  }
}

.success-tip {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  background-color: @c-positive;
  border-radius: 3px;
  padding: 8px 2rem;
  font-size: 14px;
  margin-bottom: 1rem;

  .icon {
    margin-right: 1rem;
  }
}
