.account-box {
  max-width: 900px;
  margin: auto;
}

.menu {
  text-align: center;
  height: fit-content;

  .menu-nav {
    padding: 10px 24px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    background-color: #f1f1f1;
    border-right: 3px solid transparent;

    &:hover, &.active {
      background-color: #fff;
      border-color: #0f63ff;
      color: #000;
    }

    &:nth-child(4) {
      margin-top: 2em;
      &:hover, &.active {
        background-color: #ff3333;
        border-color: #D1392E;
        color: #fff;
      }
    }
  }
}

.content {
  flex: 1;
  border-radius: 3px;
  padding: 1.5rem;
  margin-left: 1rem;
  background-color: #fff;
  height: fit-content;
}
